name: Files Tests

on:
  pull_request:

jobs:
  run-leia-files-tests:
    runs-on: ${{ matrix.os }}
    env:
      term: xterm
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
        leia-test:
          - tests/TEST1.md
          - tests/TEST2.md

    steps:
      - name: Checkout action code
        uses: actions/checkout@v4
      - name: Run Leia Action
        uses: ./
        with:
          leia-test: ${{ matrix.leia-test }}
          debug: true

  run-leia-headers-tests:
    runs-on: ${{ matrix.os }}
    env:
      term: xterm
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
        leia-test:
          - tests/TEST3.md

    steps:
      - name: Checkout action code
        uses: actions/checkout@v4
      - name: Run Leia Action
        uses: ./
        with:
          leia-test: ${{ matrix.leia-test }}
          setup-header: Sign
          test-header: Seal
          cleanup-header: Deliver
          debug: true
