name: Lagoon Mode Tests

on:
  pull_request:

jobs:
  run-leia-files-tests:
    runs-on: ${{ matrix.os }}
    env:
      term: xterm
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-13
          - macos-14
          - ubuntu-22.04
          - windows-2022
        leia-test:
          - tests/TEST1.md

    steps:
      - name: Checkout action code
        uses: actions/checkout@v3
      - name: Run Leia Action
        uses: ./
        with:
          leia-test: ${{ matrix.leia-test }}
          debug: true
          lagoon-mode: true
